.toolbar{
  margin-top: 20px;
}

.toolbar-form{
  float: right;
}

.label-toolbar{
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.item-toolbar{
  float: left;
  display: inline-block;
  height: 28px;
  border: 1px solid #CCC;
  line-height: 28px;
  margin-right: -1px;
  background: #FFF;
  color: #333;
  margin-left: 10px;
  padding: 0px 20px;
  font-size: 12px;
  text-decoration: none;
}

.item-toolbar-active{
  color: #FFFFFF;
  background-color: #e4393c;
}

.photo-list{
  width: 1200px;
  margin-top: 20px;
  padding-bottom: 120px;
}

.photo-item{
  width: 220px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.photo-content{
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  background-color: #ffffff;
  position: relative;
}

.photo-box{
  width: 100%;
  overflow: hidden;
  height: 147px;
  position: relative;
}

.progress-box{
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  background-color: #FFFFFF;
  height: 10px;

}

.photo-image{
  width: 100%;
}

.photo-time{
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  padding: 1px 5px;
}

.photo-version{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #555;
}

.btn-remove{
  position: absolute;
  right: -8px;
  top: -8px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  background-color: #f12b2b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  border: 1px solid #de2222;
  z-index: 2;
}
.btn-remove:hover{
  background-color: #fb5555;
}

.success-box{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 147px;
  line-height: 147px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}
.success-icon{
  position: absolute;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #24b500;
  font-size: 20px;
  z-index: 2;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.photo-info{
  position: relative;
  padding:10px;
}

.photo-name{
  display: inline-block;
  padding: 3px 5px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
}

.photo-size{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #9E7E6B;
}

.photo-opinion{
  color: #999;
  border-top: 1px solid #F2F2F2;
  background: #FAFAFA;
  position: relative;
  padding: 10px;
}

.photo-label{
  color: #9E7E6B;
  margin-right: 5px;
}

.waiting-box, .uploading-box{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 147px;
  line-height: 147px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

.uploading-box{
  background-color: rgba(220, 202, 77, 0.7);
}

.w_loading{
  -webkit-animation: loading .8s linear infinite;
  -moz-animation: loading 0.8s linear infinite;
  -o-animation: loading 0.8s linear infinite;
  animation: loading 0.8s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
  }
}

@-moz-keyframes loading {
  0% {
    -o-transform:rotate(0deg);
  }
  100% {
    -o-transform:rotate(360deg);
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform:rotate(0deg);
  }
  100% {
    -moz-transform:rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
.alert-bottom{
  margin-bottom: 0px;
}
.btn-box{
  padding: 10px 0px 10px 0px;
}

.btn-submit{
  background: #E53E49;
  background: linear-gradient( #E53E49, #D43636);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
  text-shadow: 0 -1px 0 rgba(0,0,0,.1);
  color: #fff;
  border: 1px solid #C90000;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.fixed{
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: #fafafa;
  box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 0 #FFF,0 1px 1px rgba(0,0,0,.1);
  border-top: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  width: 100%;
  z-index: 100;
}
