<mold-form (onTabMoldCb)="onTabMoldCb($event)">

</mold-form>
<upload
  (uploadPhotoCb) = "uploadPhotoCb($event)"
  >
</upload>

<div class="photo-list clearfix">

  <div class="photo-item" *ngFor="let photo of fileList;let i=index">
    <div class="photo-content">
      <a href="javascript:;" (click)="onDelete(photo)" [hidden]="photo.isUploading" class="btn-remove">
        <span class="glyphicon glyphicon-minus"></span>
      </a>

      <span class="photo-time">{{photo.imgShootTime}}</span>
      <div class="photo-box">
        <div [hidden]="!photo.isSuccess" class="success-box">
          <div class="success-icon">
            <span class="glyphicon glyphicon-ok"></span>
          </div>
        </div>
        <div [hidden]="!photo.isWaiting"  class="waiting-box">
          等待上传
        </div>

        <div [hidden]="!photo.isUploading" class="uploading-box">
          <span class="glyphicon glyphicon-refresh w_loading"></span>
          <span>上传中...</span>
        </div>

      </div>
      <div class="photo-info"><span class="photo-name">{{photo.imgName}}</span><span class="photo-size">{{photo.imgSize}}M</span></div>
      <div class="photo-opinion"><span class="photo-label">客户意见:</span><span>{{photo.remark}}</span></div>
    </div>
  </div>

  <div class="photo-item" *ngFor="let photo of photoList;let i=index">
    <div class="photo-content">
      <a href="javascript:;" (click)="onDelete(photo)" [hidden]="photo.isUploading" class="btn-remove">
        <span class="glyphicon glyphicon-minus"></span>
      </a>
      <span class="photo-time">{{photo.imgShootTime}}</span>
      <div class="photo-box">

        <div [hidden]="!photo.isSuccess" class="success-box">
          <div class="success-icon">
            <span class="glyphicon glyphicon-ok"></span>
          </div>
        </div>

        <img src="http://oex701atk.bkt.clouddn.com/{{photo.imgKey}}?imageView2/2/w/500" class="photo-image"/>
      </div>
      <div class="photo-info"><span class="photo-name">原片##{{photo.imgIndex}}</span><span class="photo-size">{{photo.imgSize}}M</span></div>
      <div class="photo-opinion"><span class="photo-label">客户意见:</span><span>{{photo.remark}}</span></div>
    </div>
  </div>
</div>

<confirm
         [hidden]="!isShowConfirm"
         [title] ="confirmTitle"
         [content]="confirmContent"
         (confirm)="onConfirm($event)"
         (cancel)="onCancel($event)"
  >
</confirm>
