<upload
  (previewPhoto) = "previewPhoto($event)"
  >
</upload>

<div class="photo-list clearfix">
  <div class="photo-item" *ngFor="let photo of photoList;let i=index">
    <div class="photo-content">
      <a href="javascript:;" (click)="onDelete(photo)" class="btn-remove"><span
        class="glyphicon glyphicon-remove"></span></a>
      <span class="photo-time">{{photo.time}}</span>
      <div class="photo-box">
        <img id="image-{{i}}" src="{{photo.path}}" class="photo-image"/>
        <div class="progress progress-box">
          <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
        </div>
      </div>
      <div class="photo-info"><span class="photo-name">{{photo.name}}</span><span class="photo-size">{{photo.size}}M</span></div>
      <div class="photo-opinion"><span class="photo-label">客户意见:</span><span>{{photo.opinion}}</span></div>
    </div>
  </div>
</div>

<confirm
         [hidden]="!isShowConfirm"
         [title] ="confirmTitle"
         [content]="confirmContent"
         (confirm)="onConfirm($event)"
         (cancel)="onCancel($event)"
  >
</confirm>
