<div class="mold-outer clearfix">
  <div class="mold-box">
      <ul class="mold-list clearfix">
          <li class="mold-item" *ngFor="let mold of moldList" (click)="onSelectMold(mold)">
            <span class="btn btn-default" [class.btn-success]="mold.ID === selectedMold.ID">{{mold.SCENE_NAME}} ( {{mold.count}} )</span>
          </li>
          <li class="mold-item">
            <button type="button" class="btn btn-default" (click)="onShowForm(true)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </li>
      </ul>
  </div>

  <div [hidden]="!isShowForm" class="mold-form col-md-4">
      <form (ngSubmit)="onSubmit()" #moldForm="ngForm">
          <div class="input-group">
              <input type="text"
                     class="form-control"
                     placeholder="请输入类型"
                     autocomplete="off"
                     id="name"
                     required
                     [(ngModel)]="inputMold.sceneName" name="sceneName">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" class="btn btn-default" [disabled]="!moldForm.form.valid">确定</button>
                  <button class="btn btn-default" type="submit" class="btn btn-link" (click)="onShowForm(false)">取消</button>
              </span>
          </div>
      </form>
  </div>
</div>
